<meta name="description" content="EuroHUB. Авто из Европы в Беларусь">
<meta property="og:site_name" content="EuroHUB">
<meta property="og:title" content="{{ og_title|default('EuroHUB. Авто из Европы в Беларусь') }}">
<meta property="og:description" content="{{ og_description|default('Авто из Европы в Беларусь') }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ og_title|default('EuroHUB. Авто из Европы в Беларусь') }}">
<meta name="twitter:description" content="{{ og_description|default('Авто из Европы в Беларусь') }}">
